body{
	background-color: #00B300;
	color: #000000;
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
	padding-bottom: 15px;
}

.mainDiv{
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 5px;
	height: 100%;
}

.putLeft{
	text-align: left;
	margin-left: 2%;
}
