body {
	background: black;
	color: green;
	text-align: center;
}

.sect {
	display: inline-block;
	margin-left: 25px;
	margin-right: 25px;
}

.graph {
	width: 500px;
	height: 1000px;
}

img {
	margin-top: 25px;
}

.data {
	height: 50px;
	margin-top: 15px;
	font-size: 25px;
}

button {
	background: DarkGrey;
	color: white;
	height: 25px:
	width: 25px;
	font-size: 15px;
}

h1 {
	margin-top: 25px;
}

.change-pos {
	display: inline;
}