<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp-humi.css') }}" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
		<h1> Light Sensor </h1>
		<div id="data-sect">
			<div class="sect">
				<h2> Light Intensity - Current Data </h2>
				<button class="get_data" id="n">Get Current Light Intensity</button>
				<div class="data" id="data-n"></div>
				<div id="n-graph-sect">
					<button class="generate" id="n"> Generate Graph </button>
					<div class="change_range">
						<div class="change-pos"> 
							<h5>Start</h5>
							<input id="n-start" type="text" name="start">
						</div>
						<div class="change-pos"> 
							<h5>End</h5>
							<input id="n-end" type="text" name="end">
						</div>
					</div>
					<div class="graph" id="graph-n"><img width="500" height="500"></div>
				</div>
			</div>	
			<div class="sect">
				<h2> UV Light - Current Data </h2>
				<button class="get_data" id="u">Get Current UV Light</button>
				<div class="data" id="data-u"></div>
				<div id="u-graph-sect">
					<button class="generate" id="u"> Generate Graph </button>
					<div class="change_range">
						<div> 
							<h5>Start</h5>
							<input id="u-start" type="text" name="start">
						</div>
						<div> 
							<h5>End</h5>
							<input id="u-end" type="text" name="end">
						</div>
					</div>
					<div class="graph" id="graph-u"><img src="" width="500" height="500" ></div>	
				</div>
			</div>
		</div>	
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var type;
			var url;
			var num;
			var ip;
			var start;
			var end;
			
			$('.generate').bind('click', function() {
				type = this.id;
				start = $("#" + type + "-start").val();
				end = $("#" + type + "-end").val();
				url = "/make_graph/" + type + "/" + start + "/" + end;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						$("#graph-" + type).html(response);
					},
					error: function(xhr) {
						alert("error");
					}
				});
				
			});
			
			 
			$('.get_data').bind('click', function() {
				type = this.id;
				ip = '{{ ip }}';
				num = '{{ num }}';
				url = "/getJson/" + ip + "/" + type + "/" + num;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						$("#data-" + type).html(response);
					},
					error: function(xhr) {
						alert("error");
					}
				});
			});
		});
	</script>
</html>
