<!doctype html>
<html>
<head>
<meta content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
<title>Light Measurement</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp-humi.css') }}" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
<div class="mainDiv">
<h1>Sensors #{{ num }} - Light Intensity</h1>

<table>
	<tr>
		<td colspan="2">
			<h2>Light Intensity Measurment</h2>
		</td>
	</tr>
	<tr>
		<td class="td1">
			<div class="change-pos"> 
				<h3>Start Date</h3>
				<input id="n-start" type="datetime-local" name="start-vn" class="start-date">
			</div>
			<div class="change-pos"> 
				<h3>End Date</h3>
				<input id="n-end" type="datetime-local" name="start-vn" class="end-date">
			</div>
			<div>
				</br>
				<h3>Current Light Intensity Level</h3>
				<div class="data" id="data-n"></div>
			</div>
		</td>
		<td>
			<div class="graph" id="graph-n"><img width="500" height="500"></div>
			<button class="generate" id="n"> Generate Graph </button>
			</br></br></br>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h2>UV Measurement</h2>
		</td>
	</tr>
	<tr>
		<td class="td1">
			<div> 
				<h3>Start Date</h3>
				<input id="u-start" type="datetime-local" name="start-vu" class="start-date">
			</div>
			<div> 
				<h3>End Date</h3>
				<input id="u-end" type="datetime-local" name="end-vu" class="end-date">
			</div>
			<div>
				</br>
				<h3>Current UV Index Level</h3>
				<div class="data" id="data-u"></div>
			</div>
		</td>
		<td>
			<div class="graph" id="graph-u"><img src="" width="500" height="500" ></div>
			<button class="generate" id="u"> Generate Graph </button>
		</td>
	</tr>
</table>
</div>
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var type;
			var url;
			var num = '{{ num }}';
			var ip = '{{ ip }}';
			var today = '{{ date }}';
			var start;
			var end;
			var count = 0;

			$('.generate').bind('click', function(){
				var id = this.id;
				getGraph(id);
			});

			function getGraph(type) {
				start = $("#" + type + "-start").val();
				end = $("#" + type + "-end").val();
				alert(num);
				url = "/make_graph/" + type + "/" + num + "/" + start + "/" + end;

				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						$("#graph-" + type).html(response);
					},
					error: function(xhr) {
						alert("Error! Could not create graph");
					}
				});
			}
			
			function getData() {
				var url = "/getJson/" + ip + "/l/" + num;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						var data = response.split(" ");
						$("#data-n").html(data[0]);
						$("#data-u").html(data[1]);
						count = 0;
						getData();
					},
					error: function(xhr) {
						count++;
						if (count <= 5)	{
							alert("Error fetching data from server. Trying again.");
							getData();
						} else {
							alert("
						}
					}
				});
			}
			
			getData();

			$('.start-date').val(today + "00:00");
			$('.end-date').val(today + "23:59");
			getGraph("u");
			getGraph("n");
		});
	</script>
</html>