<!doctype html>
<html>
<head>
<meta content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
<title>Light Measurement</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp-humi.css') }}" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
<div class="mainDiv">
<h1>Light Sensor</h1>

<table>
	<tr>
		<td colspan="2">
			<h2>Light Intensity Measurment</h2>
		</td>
	</tr>
	<tr>
		<td class="td1">
			<div class="change-pos"> 
				<h3>Starting Scale Value</h3>
				<input id="n-start" type="text" name="start" value="0">
			</div>
			<div class="change-pos"> 
				<h3>Ending Scale Value</h3>
				<input id="n-end" type="text" name="end" value="10">
			</div>
			<div>
				</br>
				<button class="get_data" id="n">Get Current Light Intensity</button>
			</div>
		</td>
		<td>
			<div class="graph" id="graph-n"><img width="500" height="500"></div>
			<button class="generate" id="n"> Generate Graph </button>
			</br></br></br>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<h2>UV Measurment</h2>
		</td>
	</tr>
	<tr>
		<td class="td1">
			<div> 
				<h3>Starting Scale Value</h3>
				<input id="u-start" type="text" name="start" value="0">
			</div>
			<div> 
				<h3>Ending Scale Value</h3>
				<input id="u-end" type="text" name="end" value="10">
			</div>
			<div>
				</br>
				<button class="get_data" id="u">Get Current UV Light</button>
			</div>
		</td>
		<td>
			<div class="graph" id="graph-u"><img src="" width="500" height="500" ></div>
			<button class="generate" id="u"> Generate Graph </button>
		</td>
	</tr>
</table>
</div>
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var type;
			var url;
			var num;
			var ip;
			var start;
			var end;
			
			$('.generate').bind('click', function() {
				type = this.id;
				start = $("#" + type + "-start").val();
				end = $("#" + type + "-end").val();
				url = "/make_graph/" + type + "/" + start + "/" + end;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						$("#graph-" + type).html(response);
					},
					error: function(xhr) {
						alert("error");
					}
				});
				
			});
			
			 
			$('.get_data').bind('click', function() {
				type = this.id;
				ip = '{{ ip }}';
				num = '{{ num }}';
				url = "/getJson/" + ip + "/" + type + "/" + num;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						$("#data-" + type).html(response);
					},
					error: function(xhr) {
						alert("error");
					}
				});
			});
		});
	</script>
</html>