<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/moisture.css') }}" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
		<h1> Moisture Sensor #{{ num }}</h1>
		<div id="data-sect">
			<h2> Current Data </h2>
			<button id="get_data">Get Current Moisture</button>
			<div id="data"></div>	
		</div>	
		<div id="graph-sect">
			<button id="generate"> Generate Graph </button>
			<div id="change_range">
				<div class="change-pos"> 
					<h5>Start</h5>
					<input id="start" type="text" name="start-v">
				</div>
				<div class="change-pos"> 
					<h5>End</h5>
					<input id="end" type="text" name="end-v">
				</div>
			</div>
			<div id="graph"><img width="500" height="500"></div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
	        $(function() {
		
		  var ip = '{{ ip }}';
		  var num = '{{ num }}';
		  var url; 
	          $('#generate').bind('click', function() {
		     start = $('#start').val();
		     end = $('#end').val();
	             $.ajax({
			      url: "/make_graph/m/" + start + "/" + end,
			      type: "get",
			      success: function(response) {
			        $("#graph").html(response);
			      },
			      error: function(xhr) {
			        alert("error");
			      }
    			});
	          });
		
		    $('#get_data').bind('click', function() {
		     url = "/getJson/" + ip + "/m/" + num;
	             $.ajax({
			      url: url,
			      type: "get",
			      success: function(response) {
			        $("#data").html(response);
			      },
			      error: function(xhr) {
			        alert(url);
			      }
    			});
	          });
			
        });
	</script>
</html>
