<!doctype html>
<html>
<head>
<meta content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
<title>Moisture Measurement</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/moisture.css') }}" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
<div class="container">
<div class="col-md-12"><h1>Sensor #{{ num }} - Moisture</h1><div>
<div class="row">
  <div class="col-md-6 change-pos"><h3>Start Date</h3>
    <input id="start" type="datetime-local" name="start-v">
  </div>
  <div class=" col-md-6 change-pos">
    <h3>End Date</h3>
    <input id="end" type="datetime-local" name="end-v">
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="data-sect">
    <br/>
    <div class="col-md-12"><h3>Current Moisture Level</h3></div>
    <div class="col-md-12" id="data"></div>	
  </div>	
    <div class="col-md-12" id="graph"><img class="img-fluid" width="500" height="500"></div>
    <div class="col-md-12"><br /><br /><button id="generate"> Generate Graph </button></div></div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
	        $(function() {
			
		  var ip = '{{ ip }}';
		  var num = '{{ num }}';
		  var url; 
		  var today = '{{ date }}';
		
		function getData() {
			var count = 0;
			url = "/getJson/" + ip + "/m/" + num;
	           	$.ajax({
			      url: url,
			      type: "get",
			      success: function(response) {
			        $("#data").html(parseFloat(response).toFixed(2) + " %");
				count = 0;
				getData();
			      },
			      error: function(xhr) {
			        count++;
				if (count <= 7)	{
					getData();
				} else {
					alert("Error with server. Ending real time data fetching.");
				}
			      }
    			});
		}
		
		function getGraph() {
			start = $('#start').val();
		     end = $('#end').val();
	             $.ajax({
			      url: "/make_graph/m/" + num + "/" + start + "/" + end,
			      type: "get",
			      success: function(response) {
			        $("#graph").html(response);
			      },
			      error: function(xhr) {
			        alert("Error! Could not create graph. Might not be any data in specified date range.");
			      }
    			});
		}
	          
		$('#generate').bind('click', getGraph);
		
		$('#start').val(today + "00:00");
		$('#end').val(today + "23:59");
		getData();
		getGraph();
		
			
        });
	</script>
</html>
