<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp-humi.css') }}" type="text/css" media="screen" charset="utf-8" />
	</head>
	<body>
		<h1> Temperature / Humidity Sensor </h1>
		<div id="data-sect">
			<div class="sect">
				<h2> Temperature - Current Data </h2>
				<button class="get_data" id="t">Get Current Temperature</button>
				<div class="data" id="data-t"></div>
				<div id="t-graph-sect">
					<button class="generate" id="t"> Generate Graph </button>
					<div class="change_range">
						<div class="change-pos"> 
							<h5>Start</h5>
							<input id="t-start" type="text" name="start">
						</div>
						<div class="change-pos"> 
							<h5>End</h5>
							<input id="t-end" type="text" name="end">
						</div>
					</div>
					<div class="graph" id="graph-t"><img width="500" height="500"></div>
				</div>
			</div>	
			<div class="sect">
				<h2> Humidity - Current Data </h2>
				<button class="get_data" id="h">Get Current Humidity</button>
				<div class="data" id="data-h"></div>
				<div id="h-graph-sect">
					<button class="generate" id="h"> Generate Graph </button>
					<div class="change_range">
						<div> 
							<h5>Start</h5>
							<input id="h-start" type="text" name="start">
						</div>
						<div> 
							<h5>End</h5>
							<input id="h-end" type="text" name="end">
						</div>
					</div>
					<div class="graph" id="graph-h"><img src="" width="500" height="500" ></div>	
				</div>
			</div>
		</div>	
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var type;
			var url;
			var num;
			var ip;
			var start;
			var end;
			
			$('.generate').bind('click', function() {
				type = this.id;
				start = $("#" + type + "-start").val();
				end = $("#" + type + "-end").val();
				url = "/make_graph/" + type + "/" + start + "/" + end;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						$("#graph-" + type).html(response);
					},
					error: function(xhr) {
						alert(url);
						alert("error");
					}
				});
				
			});
			
			 
			$('.get_data').bind('click', function() {
				type = this.id;
				ip = '{{ ip }}';
				num = '{{ num }}';
				url = "/getJson/" + ip + "/" + type + "/" + num;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						$("#data-" + type).html(response);
					},
					error: function(xhr) {
						alert("error");
					}
				});
			});
		});
	</script>
</html>
