<!doctype html>
<html>
<head>
<meta content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
    
<title>Temperature And Humidity Measurement</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/temp-humi.css') }}" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
<div class="container-fluid">
  <table class="table">
    <tbody>
      <tr>
	<td colspan="2"><h1>Sensor #{{ num }} - Temperature / Humidity </h1></td>
      <tr>
	<td><h2>Temperature Measurement</h2></div>
	<td><h2>Humidity Measurement</h2></div>
      </tr>
      <tr>
	<td> <h3>Start Date</h3>
	  <input id="t-start" type="datetime-local" name="start" class="start-date"></div></td>
        <td><h3>Start Date</h3>
          <input id="h-start" type="datetime-local" name="start" class="start-date"></td>
      </tr>
      <tr>
	<td><h3>End Date</h3>
	  <input id="t-end" type="datetime-local" name="end" class="end-date"></td>
	<td><h3>End Date</h3><input id="h-end" type="datetime-local" name="end" class="end-date"></td>
      </tr>
<tr>
  <td><h3>Get Current Temperature Level</h3></div>
<div class="data" id="data-t"></div></td>
<td><h3>Current Humidity Level</h3></div>
<div class="data" id="data-h"></div></td>
</tr>
<tr>
  <td><div class="graph" id="graph-t">
      <img width="500" height="500">
    </div>
  </td>
  <td><div class="graph" id="graph-h">
    <img class="img-fluid" src="" width="500" height="500" ></div></td>
</tr>
<tr>
  <td><button class="generate" id="t">Generate Graph</button></td>
  <td><button class="generate" id="h"> Generate Graph </button></td>
</tr>
   </tbody>
</table> 
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function() {
			var num = '{{ num }}';
			var ip = '{{ ip }}';
			var today = '{{ date }}';
			
			$('.generate').bind('click', function() {
				var id = this.id;
				getGraph(id, false);
			});
			
			function getData() {
				var url = "/getJson/" + ip + "/th/" + num;
				var count = 0;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						var data = response.split(" ");
						$("#data-t").html(data[0] + " &#8451; / " + data[1] + " &#8457");
						$("#data-h").html(parseFloat(data[2]).toFixed(2) + " %");
						getData();
						count++;	
					},
					error: function(xhr) {
						count++;
						if (count <= 5)	{
							getData();
						} else {
							alert("Error with server. Ending real time data fetching.");
						}
					}
				});
			} 

			function getGraph(type, startup) {
				var start = $("#" + type + "-start").val();
				var end = $("#" + type + "-end").val();
				var url = "/make_graph/" + type + "/" + num + "/" + start + "/" + end;
				$.ajax({
					url: url,
					type: "get",
					success: function(response) {
						$("#graph-" + type).html(response);
						if(startup) {
							setTimeout(function() {
								getGraph("h", false);
							}, 3000);
						}
					},
					error: function(xhr) {
						alert("Error with server. Ending real time data fetching.");
					}
				});
			}

			$('.start-date').val(today + "00:00");
			$('.end-date').val(today + "23:59");
			getData();
			getGraph("t", true);
		});
	</script>
</html>
